@charset "UTF-8";
* {
  padding: 0;
  margin: 2; }

.style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center; }

table {
  border: 2px solid; }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: whitesmoke; }

.logo {
  margin: 0.5rem; }

header {
  background-color: white; }

nav {
  padding: 30px; }

ul li {
  display: inline;
  margin: 0 15px;
  font-family: 'Roboto', sans-serif; }

.tratamiento {
  position: relative; }

.tratamientoImagenes {
  display: flex;
  flex-direction: row; }

h1 {
  text-align: center;
  color: palevioletred;
  font-family: 'Roboto', sans-serif; }

h2 {
  color: palevioletred;
  font-family: 'Roboto', sans-serif; }

h3 {
  text-align: center;
  color: black;
  font-family: 'Roboto', sans-serif; }

h4 {
  color: black;
  font-family: 'Roboto', sans-serif; }

h5 {
  color: #2c2b2b;
  font-family: 'Roboto', sans-serif; }

h6 {
  color: #2c2b2b; }

p {
  color: black;
  font-family: 'Roboto', sans-serif; }

#grilla {
  display: grid;
  grid-template-areas: "imagen1 zonas zonas hombres hombres imagen2" "imagen1 zonas zonas hombres hombres imagen2";
  grid-template-columns: 20% auto 20%;
  text-align: center;
  justify-content: center; }

.border {
  border: 1px solid black; }

.zonas {
  grid-area: zonas; }

.hombres {
  grid-area: hombres; }

.imagen1 {
  grid-area: imagen1; }

.imagen2 {
  grid-area: imagen2; }

.Contacto__Local {
  display: grid;
  grid-template-areas: "Contacto__iconoUbicacion Contacto__Ubicacion Contacto__mapa" "Contacto__iconoTelefono Contacto__Telefono Contacto__mapa" "Contacto__iconoHorario Contacto__Horario Contacto__mapa";
  grid-template-columns: 0 auto 50%;
  text-align: flex-start; }

.Contacto__iconoUbicacion {
  grid-area: Contacto__iconoUbicacion;
  justify-content: flex-start; }

.Contacto__Ubicacion {
  grid-area: Contacto__Ubicacion;
  justify-content: center; }

.Contacto__iconoTelefono {
  grid-area: Contacto__iconoTelefono;
  justify-content: flex-start; }

.Contacto__Telefono {
  grid-area: Contacto__Telefono;
  justify-content: center; }

.Contacto__iconoHorario {
  grid-area: Contacto__iconoHorario;
  justify-content: flex-start; }

.Contacto__Horario {
  grid-area: Contacto__Horario;
  justify-content: center; }

.Contacto__mapa {
  grid-area: Contacto__mapa;
  justify-content: center; }

.Footer__Redes {
  justify-content: flex-end; }

.Footer__Logo {
  justify-content: flex-end; }

@media only screen and (max-width: 768px) {
  .body {
    background-color: #000000; }
  .h1 {
    color: antiquewhite;
    font-family: 'Roboto', sans-serif; }
  .tratamientoImagenes {
    flex-direction: column;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 100%; }
  #grilla {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:      "imagen1"      "zonas"      "imagen2"      "hombres";
    text-align: center;
    justify-content: center; }
  .carousel-control-prev {
    margin-top: -107px; }
  .Contacto__Local {
    flex-direction: column;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: auto;
    justify-content: center; }
  .Contacto__mapa {
    flex-direction: column;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    justify-content: center; } }
